header{
    background-color: #ffffff
    color: black;
}


.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #ffe7c2;
    color: white;
}

